body{
  background-color: #00D3A0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}

h1,
h2,
h3{
  font-weight: 400;
  color: #fff;
  width: 100%;
}

h3{
  color: #026b51;
}

input{
  outline: none;
}

.wrapper{
  padding: 15px;
}

.wrapper__content{
  max-width: 70%;
  margin: 0 auto;
}

.white-content{
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
}

.button{
  border: 0;
  border-radius: 50px;
  min-height: 35px;
  padding: 15px;
  cursor: pointer;
  font-size: 1.5rem;
}

.button-white{
  background-color: #fff;
  color: #00D3A0;
}

.button-outline{
  display: block;
  text-decoration: none;
  color: #026b51;
  border: 1px solid #00D3A0;
  border-radius: 35px;
  padding: 7px 30px;
}

.button-outline-gray{
  display: block;
  text-decoration: none;
  color: #5A5A5A;
  border: 1px solid #5A5A5A;
  border-radius: 35px;
  padding: 7px 30px;
}

.button-outline:hover,
.button-outline-gray:hover{
  background-color: #00D3A0;
  border-color: #00D3A0;
  color: #fff;
}

.control-form {
  margin: 2em 0;
}

.control-form input,
.control-form button,
.control-form select{
  width: 100%;
}

.title-section{
  display: block;
  text-align: center;
}

@media (max-width: 600px) {
  .wrapper__content{
      max-width: 90%;
  }

  .white-content{
    padding: 1em;
  }
}