.header{
    background-color: #fff;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.header__logo{
    color: #026b51;
    font-size: 1.5rem;
}

.header__menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__menu ul li{
    display: inline-block;
    margin: 0 10px;
}

