.balance{
    text-align: center;
}

.balance h3{
    color: #5A5A5A;  
}

.balance__balance-number{
    font-size: 3em; 
    color: #026b51;
}

.btns-add{
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.btns-add a{
    margin:0 1em;
}