.header{
    background-color: #fff;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.header__logo{
    color: #026b51;
    font-size: 1.5rem;
}

.header__menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__menu ul li{
    display: inline-block;
    margin: 0 10px;
}

.header__menu ul li a{
    display: block;
    text-decoration: none;
    color: #026b51;
    border: 1px solid #00D3A0;
    border-radius: 35px;
    padding: 7px 30px;
}

.header__menu ul li a:hover{
    background-color: #00D3A0;
    color: #fff;
}
